doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        script(src='/main.js')
    body
        h1 Transit Engine Tracker
        form(action="/post" method="POST")
            input(type="text" name="work-order" id="work-order" minlength="7" maxlength="7" placeholder="Work Order" required)
            input(type= "tex" name="bus-number" id="bus-number" minlength="4" maxlength="4" placeholder="Bus Number" required)
            input(type="text" name="engine-number" id="engine-number" minlength="4" maxlength="4" placeholder="Engine Number" required)
            input(type="submit" id="submit")

        table(border="1" id="table")
            tr
                th Work Order
                th Bus number
                th Engine Number

            for bus of result 
                tr(id= bus["_id"])
                    td= bus["work-order"]
                    td= bus["bus-number"]
                    td= bus["engine-number"]
                    td(class="delete") delete

        hr
        p made with TypeScript, Express, Pug and Tailwind
        p made by Richard Nolet